body {margin: auto; text-align: center;}
a {text-decoration: none; color: white;}
nav {background-color: green; position: fixed; width: 100%;}
.list {list-style-type: none; display: flex;}
.line {margin-right: 3%; font-size: 150%;}
.category-c {background-color: #f6f6f6; position: absolute; min-width: 6%;box-shadow: 5px 5px 15px rgba(0,0,0,0.5); display: none}
.category:hover .category-c{display: block ;}
.category-h { 
    background-color: #f6f6f6;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;}
.category-h:hover { 
    background-color: #3e8e41;
    color: white;}





